/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
}

/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header, section, aside, nav, footer {
    padding: 20px;
}

/* header and footer */

header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
html {
    font-size: 10px; /*设置全站网页 font-size 为 10px。*/
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5; /*为body文本设置合适的line-height。*/
    letter-spacing: 1px;
    word-spacing: 2px; /*为body文本设置合适的 letter-spacing 和 word-spacing。*/
}

h1 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 3.2rem; /*使用相对单位（relative unit）为标题和其他元素的font-sizes设置合适的值。*/
    text-align: center; /*居中页面顶级标题。*/
    letter-spacing: 2px; /*为标题设置 letter-spacing 避免字间太过拥挤。*/
}

section > h2 + p {
    padding: 20px; /*为每个标题后、<section>元素中的第一段文字设置20px的文本缩进。*/
}

a:link, a:visited, a:focus, a:hover {
    color: #a66; /*设置 link, visited, focus, 和 hover 状态设置颜色，与页面顶部和底部的水平线颜色相同。*/
}

a:link {
    text-decoration: underline;
}

a:focus, a:hover {
    text-decoration: none; /*设置链接默认带下划线，但hover和focus时下划线消失。*/
}

a:focus {
    outline: none; /*取消页面中所有链接focus时默认的外边线。*/
}

a:active {
    /*border-bottom: 1px solid;*/
    color: red; /*设置active时有显著不同的样式，使其又突出又与整体页面设计和谐。*/
}

/*在外部链接右侧插入外部链接图标。*/
a[href*=http] {
    padding-right: 19px;
    background: url("external-link-52.png") no-repeat 100% 0px;
    background-size: 16px 16px;
}

li, p {
    line-height: 1.6; /*每个列表项应该有同样的与段落行相同的line-height 。*/
}

/*确保列表和列表项与页面整体样式和谐。
每个列表项应该有同样的与段落行相同的line-height 。
每个列表上下间距应该与段落间距相同。*/
ol, ul, p {
    margin: 1rem 0;
}

/*使用与页面设计匹配的bullet列表项符号。你可以选择自定义的bullet图像或者其他的喜欢的bullet符号。*/
ul {
    list-style-type: circle;
}

nav a:link {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    background: rgb(255, 255, 255);
    display: inline;
}
nav ul li a {
    display: inline-block;
    border: 1px solid ;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50%;
    line-height: 3;
    width: 100%;
}
nav ul li a:hover {
    background: rgb(255, 142, 171);
    color: white;
}
/*样式化你的导航栏菜单，使它拥有与页面整体相匹配的外观。*/