#logo {
    text-align: center;
    margin-bottom: 0px;
    color: blue;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

Wrap {
    margin: 0 auto;
    width: 980px;
}

.main {
    flex: 1;
}

.Divider {
    float: left;
    margin: 10px;
    height: 3em;
}

.Menu {
    float: left;
    margin-top: 10px;
}

.Dropdown {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
}